* {
    margin: 0;
    padding: 0;

}

body {
    background-color: aliceblue;
    font-family: Cambria;
}

.header {
    background-color: aqua;
}

.container {
    max-width: 1500px;
    background-color: rgb(203, 170, 237);
    margin: auto;
    padding: 20px;

}

.header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container ul {
    display: flex;
    list-style: none;
    gap: 20px;

}

.menu a {
    text-decoration: none;
    color: rgb(33, 32, 32);
    padding: 15px;
}

.menu a:hover {
    background-color: rgb(197, 149, 245);
    padding: 15px;
    font-size: 17px;
}

.main {
    padding: 20px;

}

.exemplo {
    background-color: rgb(209, 185, 231);
    width: 300px;
    height: 200px;
    color: rgb(100, 59, 103);
    font-weight: 150;
    margin: 50px 15px 15px 30px;
    padding: 30px 0 0 30px;

    /* border-width: 3px;
    border-color: palevioletred;
    border-style: solid; */
    border: solid 1px pink;
    border-radius: 20px;
    box-shadow: 1px 2px 2px 2px;
    
}


.link {
    background-color: rgb(203, 203, 255);
    display: block;
    color:rgb(76, 75, 75)
}

.post {
    width: 700px;
    margin: 20px auto 0 auto;
    align-items: center;
    justify-content: center;
}